
.*~
*~
aclocal.m4
autom4te.cache/
check_OTP
config/compile
config/config.guess
config/config.sub
config/depcomp
config.h
config.h.in
config/install-sh
config.log
config/ltmain.sh
config/missing
config.status
configure
.deps/
*.la
.libs
libtool
*.lo
m4/*.m4
Makefile
Makefile.in
manage_OTP
*.o
stamp-h1
