*~
.*~
*.o
*.lo
*.la
check_OTP
manage_OTP
Makefile.in
aclocal.m4
autom4te.cache/
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
m4/*.m4
configure
.deps/
.libs
Makefile
config.log
config.status
libtool
stamp-h1

